<section class="wp-page-not-found">
    <h2><strong>Error 404</strong></h2>
    <h3>parece que estás perdido, por favor navega a una ruta válida!</h3>

    <div class="enderman">
        <!-- ENDERMAN HEAD -->
        <div class="head">
            <div class="front">
                <span class="left-eye"></span>
                <span class="right-eye"></span>
            </div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="right"></div>
        </div>
        <!-- ANGRY ENDERMAN MOUTH -->
        <div class="mouth"></div>
        <!-- ENDERMAN BODY -->
        <div class="enderman-body"></div>
        <!-- ARMS -->
        <div class="left-arm"></div>
        <div class="right-arm"></div>
        <!-- LEGS -->
        <div class="left-leg"></div>
        <div class="right-leg"></div>

        <ul class="ender-dust">
            <li class="particle"></li>
            <li class="particle"></li>
            <li class="particle"></li>
            <li class="particle"></li>
            <li class="particle"></li>
            <li class="particle"></li>
            <li class="particle"></li>
            <li class="particle"></li>
        </ul>
    </div>

    <wp-footer></wp-footer>
</section>