//Font Lato and Roboto Standard.
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
//Font VT323 TIPE MINECRAFT
@import url("https://fonts.googleapis.com/css?family=VT323");
//AMATIC ILLUSTRATIONS
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

iframe {
  width: 100%;
  height: 80vh;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
.container-fluid,
.row > * {
  padding-left: 0px;
  padding-right: 0px;
}

.wp-opacity-version-menu {
  background-color: #22222287 !important;
}

.menu-wp {
  position: fixed;
  z-index: 1000;
  width: 100%;
}

/*Logo WP*/
.menu-wp .logo-container {
  border-radius: 200px;
  width: 80px;
  height: 80px;
  transition: 0.3s;
}
.menu-wp .logo-container .logo-wp {
  width: 80px;
  border-radius: 25px;
  transition: 0.3s;
}
.menu-wp .logo-container.shrink-container {
  width: 50px;
  height: 50px;
}
.menu-wp .logo-container .logo-wp.shrink-logo {
  width: 50px;
  border-radius: 20px;
}
.menu-wp .conteiner-info-server {
  width: 100%;
  height: auto;
  display: flex !important;
  color: #2b1055;
  font-weight: bold;
}
.menu-wp .conteiner-info-server .information-wp-minecraft-server {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  margin: 3px 10px;
}
/*Logo WP*/

.navbar-expand-lg .navbar-nav .dropdown-menu {
  background-color: $color-dark-gray;
  border-radius: 7px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
  color: #ccc;
  padding: 12px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: #00000045;
  color: $color-light-gray;
}

//SweetAlert
.swal2-container.swal2-center > .swal2-popup {
  display: grid;
  max-height: 95vh !important;
  overflow: hidden;
  overflow-y: auto;
  max-width: 100%;
}
