//Paleta de colores WalkingPlayers

//Gold Colors
$color-gold-dark: #D0A85C;
$color-gold-secondary: #F2C36B;
$color-gold-light: #F9C461;
$color-gold-dark: #D0A85C;
$color-gold-dark: #D0A85C;
//Standart Colors
$color-light-gray: #f3f3f3;
$color-white: #ffffff;
$color-dark-gray: #222222; 
$color-black: #000000;