<section class="home-page">
    <div class="row">
        <div class="col-md-12">
            <!--Section-home-->
            <div class="home-background">
                <img src="./assets/Images/background-home/stars.png" id="stars">
                <img src="./assets/Images/background-home/moon.png" id="moon">
                <img src="./assets/Images/background-home/mountains_behind.png" id="mountains_behind">
                <a href="{{urlShopNewsWalkingPlayers}}" id="btn" target="_blank">Novedades</a>
                <img src="./assets/Images/background-home/mountains_front.png" id="mountains_front">
            </div>
            <!--/Section-home-->

            <!--Section-illustrations-->
            <div class="sec" id="sec">
                <div id='stars-background'></div>
                <div id='stars-background2'></div>
                <div id='stars-background3'></div>

                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="container-image">
                            <div class="aylana one"></div>
                            <img class="img-illustration-wp" src="./assets/Images/ilustrations/count.png"
                                alt="count image" draggable="false">
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <p class="description-image">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Iusto eveniet quos corporis exercitationem culpa veniam, vitae eius nobis et ratione
                            aperiam
                            molestias quaerat modi facilis quod illo totam pariatur. Ducimus.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="container-image">
                                <div class="aylana two"></div>
                                <img class="img-illustration-wp" src="./assets/Images/ilustrations/king.png"
                                    alt="king image" draggable="false">
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <p class="description-image">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Iusto eveniet quos corporis exercitationem culpa veniam, vitae eius nobis et
                                ratione
                                aperiam
                                molestias quaerat modi facilis quod illo totam pariatur. Ducimus.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="container-image">
                                <div class="aylana three"></div>
                                <img class="img-illustration-wp" src="./assets/Images/ilustrations/queen.png"
                                    alt="queen image" draggable="false">
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <p class="description-image">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Iusto eveniet quos corporis exercitationem culpa veniam, vitae eius nobis et
                                ratione
                                aperiam
                                molestias quaerat modi facilis quod illo totam pariatur. Ducimus.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="container-image">
                            <div class="aylana four"></div>
                            <img class="img-illustration-wp" src="./assets/Images/ilustrations/warrior.png"
                                alt="warrior image" draggable="false">
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <p class="description-image">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Iusto eveniet quos corporis exercitationem culpa veniam, vitae eius nobis et ratione
                            aperiam
                            molestias quaerat modi facilis quod illo totam pariatur. Ducimus.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="container-image">
                                <div class="aylana five"></div>
                                <img class="img-illustration-wp" src="./assets/Images/ilustrations/princess.png"
                                    alt="princess image" draggable="false">
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <p class="description-image">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Iusto eveniet quos corporis exercitationem culpa veniam, vitae eius nobis et
                                ratione
                                aperiam
                                molestias quaerat modi facilis quod illo totam pariatur. Ducimus.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="container-image">
                                <div class="aylana six"></div>
                                <img class="img-illustration-wp" src="./assets/Images/ilustrations/prince.png"
                                    alt="prince image" draggable="false">
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <p class="description-image">
                                Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Iusto eveniet quos corporis exercitationem culpa veniam, vitae eius nobis et
                                ratione
                                aperiam
                                molestias quaerat modi facilis quod illo totam pariatur. Ducimus.
                            </p>
                        </div>
                    </div>
                </div>

                <wp-footer></wp-footer>
            </div>
            <!--/Section-illustrations-->

        </div>
    </div>
</section>