<section class="home-page">
    <div class="row">
        <div class="col-md-12">
            <!--Section-home-->
            <div class="home-background">
                <img src="./assets/Images/background-home/stars.png" id="stars">
                <img src="./assets/Images/background-home/moon.png" id="moon">
                <img src="./assets/Images/background-home/mountains_behind.png" id="mountains_behind">
                <a href="{{urlShopNewsWalkingPlayers}}" id="btn" target="_blank">Novedades</a>
                <img src="./assets/Images/background-home/mountains_front.png" id="mountains_front">
            </div>
            <!--/Section-home-->

            <!--Section-illustrations-->
            <div class="sec" id="sec">
                <div id='stars-background'></div>
                <div id='stars-background2'></div>
                <div id='stars-background3'></div>

                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="container-image">
                            <div class="aylana one"></div>
                            <img class="img-illustration-wp" src="./assets/Images/ilustrations/count.png"
                                alt="count image" draggable="false">
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <h2 class="title-image" style="color: #59c173">Sobre nosotros</h2>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <p class="description-image">
                            Somos una comunidad cooperativa de Minecraft, durante años nos hemos enfocado en brindar una
                            comunidad sana y divertida, basada en el apoyo de todos nuestros usuarios, dándoles la
                            oportunidad de participar en la construcción de mejoras y novedades. ¡Conócenos, somos
                            WalkingPlayers!
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="container-image">
                                <div class="aylana two"></div>
                                <img class="img-illustration-wp" src="./assets/Images/ilustrations/king.png"
                                    alt="king image" draggable="false">
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <h2 class="title-image" style="color: #e1eec3">Juegos</h2>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <p class="description-image">
                                WalkingPlayers es una serie de servidores de <span><a
                                        href="https://www.minecraft.net/es-es" target="_blank"
                                        style="color: #196d17 !important">Minecraft</a></span>.
                                premium y no premium que funciona
                                desde la versión 1.8 hasta la 1.16.2.
                                WalkingPlayers NO está afiliado con Mojang AB, propietario de los derechos de Minecraft.

                            </p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="container-image">
                                <div class="aylana three"></div>
                                <img class="img-illustration-wp" src="./assets/Images/ilustrations/queen.png"
                                    alt="queen image" draggable="false">
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <h2 class="title-image" style="color: rgb(88, 101, 242)">Discord</h2>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <p class="description-image">
                                En la comunidad contamos con diversos medios de comunicación totalmente moderados, como
                                por ejemplo, Discord, un espacio seguro y agradable donde podremos pasar un buen rato,
                                realizar peticiones, solicitudes, enterarnos de novedades o eventos, convivir con
                                toda la
                                comunidad, compartir memes y disfrutar de todas los beneficios gratuitos que se otorgan
                                a los miembros de <span><a href="https://discord.gg/38dn3Qk34G" target="_blank"
                                        style="color: rgb(88, 101, 242)">Discord</a></span>.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="container-image">
                            <div class="aylana four"></div>
                            <img class="img-illustration-wp" src="./assets/Images/ilustrations/warrior.png"
                                alt="warrior image" draggable="false">
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <h2 class="title-image" style="color: #f05053">Moderación</h2>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <p class="description-image">
                            Contamos con un equipo activo, capacitado, amable y dispuesto a ayudar para que la comunidad
                            esté libre de preguntas, usuarios indeseados y cualquier otro tipo de inconveniente que
                            pueda arruinar la experiencia.
                            Nos enorgullece decir que tenemos una de las comunidades más amigables y más estupendas del
                            juego,
                            no solo por el gran servicio del staff, sino también por la maravilla de usuarios que
                            normalmente llegan y se impregnan de la energía del resto de personas.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="container-image">
                                <div class="aylana five"></div>
                                <img class="img-illustration-wp" src="./assets/Images/ilustrations/princess.png"
                                    alt="princess image" draggable="false">
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <h2 class="title-image" style="color: #40e0d0">Diversión segura</h2>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <p class="description-image">
                                Divierte con tus amigos o crea nuevas amistades, WalkingPlayers es la comunidad perfecta
                                para personas grandes y pequeñas, cuidamos minuciosamente que las personas
                                pertenecientes no tengan intenciones indeseables así que es un espacio seguro donde
                                podemos compartir y divertirnos todos.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="container-image">
                                <div class="aylana six"></div>
                                <img class="img-illustration-wp" src="./assets/Images/ilustrations/prince.png"
                                    alt="prince image" draggable="false">
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <h2 class="title-image" style="color: #ff0080">Sistema de juego único</h2>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <p class="description-image">
                                Tendrás a tu disposición una experiencia única en el entorno de juego, ya que contamos
                                con un sistema de juego que brinda combates únicos y distintos plugins o
                                modificaciones que hacen de la experiencia algo increíble.
                                Puedes adquirir espadas, armaduras en nuestra tienda o simplemente comerciar dentro del
                                juego ¡para volverte el más fuerte!
                            </p>
                        </div>
                    </div>
                </div>

                <wp-footer></wp-footer>
            </div>
            <!--/Section-illustrations-->

        </div>
    </div>
</section>