<section class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <form class="form-auth" [formGroup]="authForm" #formDirective="ngForm" (ngSubmit)="saveForm(authForm.value)"
                novalidate>
                <!--Form Elements-->
                <mat-card>
                    <mat-card-content>
                        <div class="form-group">
                            <label for="">Terminos y condiciones:</label>
                            <angular-editor [placeholder]="'Redacta los nuevos terminos y condiciones'"
                                [config]="editorConfig" id="termsAndConditions" name="termsAndConditions"
                                formControlName="termsAndConditions" required></angular-editor>
                            <mat-error *ngIf="!authForm.value.termsAndConditions">
                                Campo requerido
                            </mat-error>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-content>
                        <div class=" form-group">
                            <label for="">Sobre nosotros:</label>
                            <angular-editor [placeholder]="'Redacta un resumen del servidor'" [config]="editorConfig"
                                id="aboutUs" name="aboutUs" formControlName="aboutUs" required></angular-editor>
                            <mat-error *ngIf="!authForm.value.aboutUs">
                                Campo requerido
                            </mat-error>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-content>
                        <div class=" form-group">
                            <label for="">Reglas:</label>
                            <angular-editor [placeholder]="'Redacta las reglas del servidor'" [config]="editorConfig"
                                id="rules" name="rules" formControlName="rules" required></angular-editor>
                            <mat-error *ngIf="!authForm.value.rules">
                                Campo requerido
                            </mat-error>
                        </div>
                    </mat-card-content>
                </mat-card>

                <div class=" row mt-3 mb-3 inputGroup inputGroup3">
                    <div class="col-md-12 d-flex justify-content-end">
                        <button [routerLink]="['/home']" class="m-2" mat-raised-button color="secondary">
                            Cancelar
                        </button>
                        <button class="m-2" type="submit" mat-raised-button color="primary"
                            [disabled]="authForm.invalid">
                            Guardar
                        </button>
                    </div>
                </div>
                <!--/Form Elements-->
            </form>
        </div>
    </div>
</section>