/* --- PHONES MEDIA QUERY --- */
@media screen and (max-width: 767px) {
  footer {
    min-height: 700px !important;
  }
  .share-list a {
    margin: 3px !important;
  }
  iframe {
    width: 100%;
    max-height: 100vh;
    height: 100vh;
  }
  .swal2-container.swal2-center > .swal2-popup {
    display: grid;
    max-height: none !important;
    overflow: none;
    overflow-y: none;
    max-width: 100%;
  }
}

/* --- TABLES AND PHONES MEDIA QUERY --- */
@media screen and (max-width: 768px) {
  .menu-wp .conteiner-info-server {
    display: block !important;
  }
  .swal2-container.swal2-center > .swal2-popup {
    display: grid;
    max-height: none !important;
    overflow: none;
    overflow-y: none;
    max-width: 100%;
  }
}

/* --- IPADS MEDIA QUERY --- */
@media screen and (max-width: 1024px){
  .swal2-container.swal2-center > .swal2-popup {
    display: grid;
    max-height: none !important;
    overflow: none;
    overflow-y: none;
    max-width: 100%;
  }
}
